html {
  font-size: 1.375em; /* 22px */
  line-height: 1.182em; /* 26px / ~ 120% */
  padding: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
}
label {
  display: block;
  font-family: 'Barlow', 'Arial', sans-serif;
  font-size: 0.875em;
  color: #3d0023;
}
/* ===== LAYOUT STYLES ====== */
#content {
  text-align: center;
  background-color: #ffd8e6;
}
h1 {
  margin-bottom: .5em;
  padding: 0.75em;
  font-family: 'Young Serif', "Times New Roman", cursive;
  font-weight: 600;
  font-size: 1.8em;
  color: #96416a;
}
p {
  margin: .75em;
  padding-bottom: 1.5em;
  font-family: 'Barlow', 'Arial', sans-serif;
  font-size: 0.875em;
}
input[type="text"] {
  height: auto;
  display: inline;
  vertical-align: top;
  width: 90%;
}
input[type="email"] {
  width: 90%;
  height: auto;
  display: inline;
  vertical-align: top;
}
input[type="tel"] {
  width: 90%;
  height: auto;
  display: inline;
  vertical-align: top;
} 
#user-gender {
  padding: .5em;
}
#gender {
  background-color: #d0ee82;
  font-family: 'Barlow', 'Arial', sans-serif;
  width: 90%;
}
#useroptions {
  background-color: #d0ee82;
  font-family: 'Barlow', 'Arial', sans-serif;
  width: 90%;
}
input[type="checkbox"] + label{
  width: auto;
  height: auto;
  display: inline;
  vertical-align: top;
}
#user-age-verification{
  padding: 1em;
}
#sign-up {
  padding: 1em;
}
#signup {
  font-family: 'Barlow', 'Arial', sans-serif;
  background-color: #d0ee82;
  border-radius: 25%;
}
/* ===== STATE STYLES ======= */
@media screen and (min-width: 481px) {
  h1 {
    font-size: 1.5em;
    padding: 1em; 
  }
  p {
    font-size: 1.2em;
    padding-bottom: .7em;
  }
  #user-int-options {
    padding: .6em;
  }
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 1.2em;
    padding-bottom: .7em;
  }

  .wrap ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  #userFN, #userLN {
    margin: 0;
    padding: 0;
    flex-direction: row;
  }
  input[type="text"] {
    width: 70%;
    height: auto;
    display: inline;
    vertical-align: top;
  } 

  #user-email, #phone-number {
    margin: 0;
    padding: 0;
    flex-direction: row;
  }
  input[type="email"] {
    width: 70%;
    height: auto;
    display: inline;
    vertical-align: top;
  }
  input[type="tel"] {
    width: 70%;
    height: auto;
    display: inline;
    vertical-align: top;
  } 
  #gender {
  width: 30%;
  }
  #useroptions {
  width: 30%;
  }
}